.App {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #ec307a;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}

header {
  padding: 25px;
}